@model MedCore.Web.Models.users.Doctors.CreateDoctorsModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateDoctorsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SpecialtyID" class="control-label"></label>
                <input asp-for="SpecialtyID" class="form-control" />
                <span asp-validation-for="SpecialtyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenseNumber" class="control-label"></label>
                <input asp-for="LicenseNumber" class="form-control" />
                <span asp-validation-for="LicenseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearsOfExperience" class="control-label"></label>
                <input asp-for="YearsOfExperience" class="form-control" />
                <span asp-validation-for="YearsOfExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Education" class="control-label"></label>
                <input asp-for="Education" class="form-control" />
                <span asp-validation-for="Education" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsultationFee" class="control-label"></label>
                <input asp-for="ConsultationFee" class="form-control" />
                <span asp-validation-for="ConsultationFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClinicAddress" class="control-label"></label>
                <input asp-for="ClinicAddress" class="form-control" />
                <span asp-validation-for="ClinicAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailabilityModeId" class="control-label"></label>
                <input asp-for="AvailabilityModeId" class="form-control" />
                <span asp-validation-for="AvailabilityModeId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
